@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html, body {
  padding-bottom: 2rem;
  font-family: 'Inconsolata', monospace !important;
  background-color: black !important;
  color: white !important;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.jumbotron {
  background-color: rgba(48, 48, 47, 1) !important;
  color: white !important;
  text-align: center;
  font-size: 3em;
}

.fa-eye {
  font-size: 0.9em !important;
  margin: 0.1em !important;
}

.fa-sitemap {
  color: white !important;
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
}

ul, li {
  background-color: black !important;
  border-color: white !important;
}

.row {
  width: 65vw;
}

@media (min-width: 481px) and (max-width: 767px) {
  .row {
    width: 85vw;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .row {
    width: 95vw;
  }
}

@media (min-width: 0) and (max-width: 320px) {
  .row {
    width: 95vw;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin: 0 auto;
}

td,
th {
  padding: 5px;
  border-bottom: 1px solid #aaa;
  text-align: center;
  color: white !important;
}

a {
  text-decoration: underline !important;
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
}

.fas {
  font-weight: 200;
}

/* IF SOCIETE NAME EXISTS && TYPE != AU TYPE DE CETTE SOCIETE ALORS OK SINON PAS OK */
